div {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
}

#caja{
	transform: rotate(10deg);
}

#original {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 100px;
}

#transformado {
  /*
  transform: rotateZ(-50deg);//Se usa - para rotar en contra de las manecillas del reloj
  //Para rotaciones en 3D se debe indicar el eje X Y o Z
  */
  transform: rotateZ(45deg)
}
