<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">To Do List</h3>
            </div>
            <div class="box-body">
                <form ng-submit="guardar()">
                    <div class="form-group">
                        <div class="col-xs-3">

                            <input name="descripcion" ng-model="item.descripcion" type="text" class="form-control" placeholder="Descripción">
                        </div>

                        <div class="col-xs-3">

                            <button type="submit" class="btn btn-primary pull-left" ><i class="fa fa-check"></i> Crear</button>
                        </div>
                    </div>

                </form>

                <br>
                <br>
                <ul class="todo-list" style="overflow:auto;height:200px;">
                    <li ng-repeat="tarea in tareas">

                        <input type="checkbox" ng-model="tarea.finalizada.estado" value="{{tarea.finalizada.estado}}" />
                        <span class="text">{{tarea.descripcion}}</span>

                    </li>
                </ul>
            </div>
            <div class="box-footer clearfix no-border">
                <button class="btn btn-primary pull-right" ng-click="enviar_finalizadas()">Guardar</button>
            </div>
        </div>
    </div>
</div>

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Historial de tareas finalizadas</h3>
        </div>
        <div class="box-body no-padding">
            <div class="callout callout-danger" ng-show="!tareas_finalizadas.length">
                <h4>Aún no has finalizado tareas!</h4>
                <p>Aquí mostraremos tu historial de tareas finalizadas.</p>
            </div>
            <table class="table table-condensed" ng-hide="!tareas_finalizadas.length">
                <tbody>
                <tr>
                    <th>Descripcion</th>
                    <th>Fecha</th>
                    <th style="width: 40px">Estado</th>
                </tr>

                <tr ng-repeat="finalizada in tareas_finalizadas">
                    <td>{{finalizada.descripcion }}</td>
                    <td>
                        {{finalizada.finalizada.fecha | date:'yyyy-MM-dd' }}
                    </td>
                    <td><span class="badge bg-green">Finalizada</span></td>
                </tr>

            </tbody></table>
        </div>
    </div>
