<div class="row">
	<div class="col-md-12">
		<ul class="timeline">
			<li class="time-label">
				<span class="bg-red">10 Feb 2017</span>
			</li>
			<li>
				<i class="fa fa-check bg-group"></i>
				<div class="timeline-item">
					<h3 class="timeline-header"><a href="javascript:void(0;)">Fulano de Tal</a> Termino una tarea</h3>
					<div class="timeline-body">
						Diseñar la maqueta del sitio web
					</div>
				</div>
			</li>
			<li>
				<i class="fa fa-envelope bg-group"></i>
				<div class="timeline-item">
					<h3 class="timeline-header"><a href="javascript:void(0;)">Susano Jose</a> Compartio un recurso</h3>
					<div class="timeline-body">
						Imagenes del prototipo de maquetacion
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>