<div class="col-xs-12">
	<div class="box box-solid">
		<div class="box-body">
			<div class="row">
				<div class="col-md-3 col-sm-4">
					<div class="box-header">
						<i class="fa fa-inbox"></i>
						<h3 class="box-title">Chat</h3>
					</div>



					<div style="margin-top: 15px;">
						<ul class="nav nav-pills nav-stacked" style="overflow:auto;height:300px;">
							<li class="header">Equipo</li>
							<li><a href="#"><i class="fa fa-group zz"></i> General</a></li>

							<li>
								<a href="#">
									<i class="fa fa-circle text-success"></i> 
									Susano José
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-circle text-success"></i> 
									Andrés Pimienta
								</a>
							</li>
						</ul>
					</div>
				</div>



				<div class="col-md-9 col-sm-8 ng-scope" ui-view="">
					<div class="callout callout-info">
                        <h4>Bienvenido al chat del equipo!</h4>
                        <p>Selecciona a la izquierda con quien chatear.</p>
                    </div>
				</div>
			</div>
		</div>
		
	</div>
</div>



