<div class="row">
	<div class="col-md-12">
		<!-- The time line -->
		<ul class="timeline">
			<!-- timeline time label -->
			<li class="time-label">
				<span class="bg-red">
					10 Feb. 2014
				</span>
			</li>
			<!-- /.timeline-label -->

			<!-- timeline item -->
			<li>
				<i class="fa fa-check bg-blue" ></i>
				<div class="timeline-item">
					<h3 class="timeline-header"><a href="javascript:void(0);">Fulano de Tal</a> terminó una tarea</h3>
					<div class="timeline-body">
						Diseñar la maqueta del sitio web
					</div>
				</div>
			</li>
			<li>
				<i class="fa fa-envelope bg-blue"></i>
				<div class="timeline-item">
					<h3 class="timeline-header"><a href="javascript:void(0);">Susano José</a> compartió un recurso</h3>
					<div class="timeline-body">
						Imagenes del prototipo de maquetación
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>



